<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Express Simple User Auth</title>
</head>

<body>
  <h1>
    Welcome<%= user ? ' ' + user.username : '' %>!
  </h1>

  <div>
    <% if (user) { %>
      <form action="/logout" method="POST">
        <input type="submit" value="logout" />
      </form>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</body>

</html>
