<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Express Simple User Auth</title>
</head>

<body>
  <h1>
    Welcome <%= currentUser ? currentUser.username : 'Anon' %>!
  </h1>

  <% if (currentUser) { %>
    <form action='/logout' method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  <% } %>

  <div>
    <h2>Users</h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li><%= user.username %> - <%= user.password %></li>
      <% }) %>
    </ul>
  </div>
</body>

</html>
